<audio autoplay loop id="bg-music">
  <source src="/soundtrack.mp3" type="audio/mpeg" />
</audio>

@if (showVideo()) {
<video autoplay loop [muted]="true" playsinline class="video-background">
    <source src="/background.mp4" type="video/mp4" />
</video>
<div class="scanlines"></div>
}

<!-- Global TopAppBar -->
@if (showTopbar()) {
<header class="top-app-bar">
    <div class="header-left">
        <div class="user-avatar-container">
            <img alt="User Profile" class="user-avatar"
                data-alt="cybernetic user portrait with neon accents and glitch artifacts in high contrast digital painting style"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuA88Zpw-Of9gI_97rHUC27VLteVkOOXaD3pgjCwgKbgdDIJHJrvkDZgvLtDnx7Yz2GbMQJjI6uiQYeiP2iHd5Zko3IA9Ncnt2OOdleHvQxBdT2uYpTFwYrLB3Ewk_NlTRlwVj5s0O_Lxlnlh9xHNzwO7Rid3ej78Y0ZrPMB-YbgajchainEwX2zvJZbR23SWRXSKcX0LEnUGL1KMXhikzQHK4QqnfY__3KQsL-b3eadY1ZsofRPZJeiTJlzHER-8bD5Fb96g4fdieea" />
            <div class="avatar-overlay"></div>
        </div>
        <div class="user-info">
            <div class="user-name">{{ username() | uppercase }} <span class="badge">PRO</span></div>
            <div class="user-status">
                <span class="status-dot"></span> CONNECTION STABLE
            </div>
            <div class="xp-bar-container">
                <div class="xp-bar" style="width: 75%"></div>
            </div>
        </div>
    </div>
    <div class="header-center hidden-mobile">
        <div class="system-alerts">
            <span class="material-symbols-outlined icon-alert">sensors</span>
            <span class="alert-text">SECTOR 7G SECURED</span>
        </div>
        <div class="decorative-waves">
            <div class="wave w1"></div>
            <div class="wave w2"></div>
            <div class="wave w3"></div>
            <div class="wave w4"></div>
            <div class="wave w5"></div>
        </div>
    </div>
    <div class="header-right">
        <div class="header-stats">
            <div class="stat-item">
                <span class="material-symbols-outlined">diamond</span>
                <div class="stat-text">
                    <span class="stat-value">14,020</span>
                    <span class="stat-label">SHARDS</span>
                </div>
            </div>
            <div class="stat-item">
                <span class="material-symbols-outlined">military_tech</span>
                <div class="stat-text">
                    <span class="stat-value">LVL 42</span>
                    <span class="stat-label">RANK</span>
                </div>
            </div>
        </div>
    </div>
</header>
}

<router-outlet />
